#footer{
    padding: 1.5rem;
    justify-content: space-between;
    margin-left:-10%;
}
.footer{
    margin-left: -10rem;
}
.icons{
    margin-left: 20rem;
    padding-right: 1.5rem;
    & a{
        padding: 1rem;
    }
}